<footer class="footer">
    <div class="container-fluid container-custom">
        <div class="row"> 
            <div class="col-md-12">
                <ul class="social-list">
                    <li><a href="https://www.facebook.com/BrandonDElder/"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="https://github.com/BrandonElder/"><i class="fa fa-github"></i></a></li>
                    <li><a href="https://www.linkedin.com/in/brandon-elder/"><i class="fa fa-linkedin"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>