<!-- Hero section-->
<section class="split-image parallax" >
    <div class="split-image-footer">
        <ul class="split-list">
            <li>Download cv:</li>
            <li><a href="#">English</a></li>
        </ul>
    </div>
</section>
<!-- Hero section end-->