<!-- Preloader-->
<div class="page-loader">
    <div class="loader">Loading...</div>
</div>
<!-- Preloader end-->
<%= render "partials/menu" %>
<div class="wrapper">
    <!-- Hero section-->
    <section class="split-image parallax index-img" >
    </section>
    <!-- Hero section end-->
    <!-- Content section-->
    <section class="split-content">
        <!-- Hello text-->
        <section class="module">
            <div class="container-fluid container-custom">
                <div class="row">
                    <div class="col-sm-12">
                        <h1>Hello, I am Brandon Elder<br>Ruby On Rails Developer.</h1>
                        <p>I am a full-stack web developer experienced mainly with the Ruby on Rails framework. I have built several applications with Rails and have recently turned my attention to learning more about front-end development and design. I am currently seeking a role with a company that can offer the opportunity to grow and acquire new skills while challenging me to apply what I've learned so far.</p>
                    </div>
                </div>
            </div>
        </section>
        <!-- Hello text end-->
        <!-- Personal info-->
        <section class="module">
            <div class="container-fluid container-custom">
                <div class="row">
                    <div class="col-sm-4">
                        <h6>Personal Info.</h6>
                    </div>
                    <div class="col-sm-8">
                        <ul>
                            <li>Name: Brandon Elder</li>
                            <li>Birthdate: August 12, 1980</li>
                            <li>Address: 2630 Hitchcock Dr, Durham NC</li>
                            <li>Phone: 317-833-8808</li>
                            <li>E-mail: <%= mail_to "brandonelder3@gmail.com", "brandonelder3@gmail.com" %></li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <!-- Personal info end-->
        
        <!-- Professional skills-->
        <section class="module">
            <div class="container-fluid container-custom">
                <div class="row">
                    <div class="col-sm-4">
                        <h6>Professional skills.</h6>
                    </div>
                    <div class="col-sm-8">
                        <!-- Progress bar-->
                        <div class="progress-item">
                            <div class="progress-title">Ruby, <span class="p-coutn"></span>%</div>
                            <div class="progress">
                                <div class="progress-bar" aria-valuenow="70" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                        <!-- Progress bar end-->
                        <!-- Progress bar-->
                        <div class="progress-item">
                            <div class="progress-title">Rails, <span class="p-coutn"></span>%</div>
                            <div class="progress">
                                <div class="progress-bar" aria-valuenow="80" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                        <!-- Progress bar end-->
                        <!-- Progress bar-->
                        <div class="progress-item">
                            <div class="progress-title">Javascript &amp; JQuery, <span class="p-coutn"></span>%</div>
                            <div class="progress">
                                <div class="progress-bar" aria-valuenow="50" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                        <!-- Progress bar end-->
                        <!-- Progress bar-->
                        <div class="progress-item">
                            <div class="progress-title">HTML, <span class="p-coutn"></span>%</div>
                            <div class="progress">
                                <div class="progress-bar" aria-valuenow="90" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                        <!-- Progress bar end-->
                        <!-- Progress bar-->
                        <div class="progress-item">
                            <div class="progress-title">CSS, Sass &amp; Frameworks, <span class="p-coutn"></span>%</div>
                            <div class="progress">
                                <div class="progress-bar" aria-valuenow="80" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                        <!-- Progress bar end-->
                        <!-- Progress bar-->
                        <div class="progress-item">
                            <div class="progress-title">Github &amp; Bitbucket, <span class="p-coutn"></span>%</div>
                            <div class="progress">
                                <div class="progress-bar" aria-valuenow="70" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                        <!-- Progress bar end-->
                    </div>
                </div>
            </div>
        </section>
        <!-- Professional skills end-->
        <%= render 'partials/footer' %>
    </section>
    <!-- Content section end-->
</div>
<!-- Scripts-->
<script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyA0rANX07hh6ASNKdBr4mZH0KZSqbHYc3Q"></script>

