<!-- Preloader-->
<div class="page-loader">
    <div class="loader">Loading...</div>
</div>
<!-- Preloader end-->
<%= render "partials/menu" %>
<div class="wrapper">
    <!-- Hero section-->
    <section class="split-image parallax index-img" >
        <div class="split-image-footer">
            <ul class="split-list">
                <li><%= link_to "Download Resume", download_pdf_path %></li>
            </ul>
        </div>
    </section>
    <!-- Hero section end-->
    <!-- Content section-->
    <section class="split-content">
        <!-- Hello text-->
        <section class="module">
            <div class="container-fluid container-custom">
                <div class="row">
                    <div class="col-sm-12">
                        <h1>Hello, I am Brandon Elder<br>Web Developer</h1>
                        <p>I am a developer currently seeking employment in the Triangle area. The majority of my experience is through building things with Ruby on Rails &amp; JavaScript. Currently I've been focused on learning more about front-end development and have been avidly studying modern CSS techniques, vanilla JavaScript, and more. I am currently seeking a role with a company that can offer the opportunity to grow and acquire new skills while challenging me to apply what I've learned so far.</p>
                    </div>
                </div>
            </div>
        </section>
        <!-- Hello text end-->
        <!-- Personal info-->
        <section class="module">
            <div class="container-fluid container-custom">
                <div class="row">
                    <div class="col-sm-4">
                        <h6>Personal Info.</h6>
                    </div>
                    <div class="col-sm-8">
                        <ul>
                            <li>Name: Brandon Elder</li>
                            <li>Birthdate: August 12, 1980</li>
                            <li>Address: 2630 Hitchcock Dr, Durham NC</li>
                            <li>Phone: 317-833-8808</li>
                            <li>E-mail: <%= mail_to "brandonelder3@gmail.com", "brandonelder3@gmail.com" %></li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <!-- Personal info end-->
        
        <!-- Professional skills-->
        <section class="module">
            <div class="container-fluid container-custom">
                <div class="row">
                    <div class="col-sm-4">
                        <h6>Professional skills.</h6>
                    </div>
                    <div class="col-sm-8">
                        <!-- Progress bar-->
                        <div class="progress-item">
                            <div class="progress-title">Ruby</div>
                            <div class="progress">
                                <div class="progress-bar" aria-valuenow="70" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                        <!-- Progress bar end-->
                        <!-- Progress bar-->
                        <div class="progress-item">
                            <div class="progress-title">Ruby on Rails</div>
                            <div class="progress">
                                <div class="progress-bar" aria-valuenow="70" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                        <!-- Progress bar end-->
                        <!-- Progress bar-->
                        <div class="progress-item">
                            <div class="progress-title">Javascript (Vanilla &amp; JQuery)</div>
                            <div class="progress">
                                <div class="progress-bar" aria-valuenow="60" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                        <!-- Progress bar end-->
                        <!-- Progress bar-->
                        <div class="progress-item">
                            <div class="progress-title">HTML</div>
                            <div class="progress">
                                <div class="progress-bar" aria-valuenow="80" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                        <!-- Progress bar end-->
                        <!-- Progress bar-->
                        <div class="progress-item">
                            <div class="progress-title">CSS (Box Model, Flexbox, Grid &amp; Frameworks)</div>
                            <div class="progress">
                                <div class="progress-bar" aria-valuenow="80" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                        <!-- Progress bar end-->
                        <!-- Progress bar-->
                        <div class="progress-item">
                            <div class="progress-title">SQL (PostgreSQL)</div>
                            <div class="progress">
                                <div class="progress-bar" aria-valuenow="50" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                        <!-- Progress bar end-->
                        <!-- Progress bar-->
                        <div class="progress-item">
                            <div class="progress-title">Git &amp; Github</div>
                            <div class="progress">
                                <div class="progress-bar" aria-valuenow="60" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                        <!-- Progress bar end-->
                    </div>
                </div>
            </div>
        </section>
        <!-- Professional skills end-->
        <%= render 'partials/footer' %>
    </section>
    <!-- Content section end-->
</div>
<!-- Scripts-->
<script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyA0rANX07hh6ASNKdBr4mZH0KZSqbHYc3Q"></script>

