/* added styles - includes any alterations to the theme here */
/* there are so few that I didn't feel the need to sort them */
/* all other styles are in vendor assets */

.alert-alert {
  @extend .alert-danger;
}

.alert-notice {
  @extend .alert-warning;
}

.alert.alert-success.alert-dismissible,
.alert.alert-alert.alert-dismissible {
  margin: 80px auto 0 auto;
  width: 70%;
  text-align: center;

  @media all and (min-width: 992px) {
    width: 40%;
    text-align: center;
    margin-left: 55%;
  }
}

input[type="submit"]:disabled {
  cursor: none;
}

.p2img {
  border: 1px solid grey;
}

.index-img {
  background-image: url('hero1.jpg');
}

.resume-img {
  background-image: url('hero2.jpg');
}

.portfolio-img {
  background-image: url('hero3.jpg');
}

.contact-img {
  background-image: url('hero5.jpg');
}

.resume-list {
  list-style-type: disc;
}

.contact-module-top {
    background-color: #ffffff;
    background-position: 50% 0;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding: 50px 0 36px 0; 
}

#map {
  filter: grayscale(90%);
  webkit-filter: grayscale(90%);
}

